In [130]:
import numpy as np
import pandas as pd
df = pd.read_csv("glass.csv")

I have imported Pandas Library as pd and read the data from "glass.csv"and stored it in data frame named df

In [131]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

to know the columns of the dataset

In [132]:
df.tail()

          RI     Na   Mg    Al     Si     K    Ca    Ba   Fe  Type
209  1.51623  14.14  0.0  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.0  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.0  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.0  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.0  2.08  73.36  0.00  8.62  1.67  0.0     7

to know how many rows are present in the dataset

In [133]:
df.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

to know null values

In [134]:
df.dtypes

RI      float64
Na      float64
Mg      float64
Al      float64
Si      float64
K       float64
Ca      float64
Ba      float64
Fe      float64
Type      int64
dtype: object

data types

In [135]:
df.drop("Type",axis=1)

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

dropped the type column as the data type differ from other

In [288]:
X = df.iloc[:,:-1]
y= df.iloc[:,-1]

Arrays of input and output are created as X and Y.

In [289]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report,accuracy_score


#X_train,X_test,y_train,t_test = (X, y, test_size=0.3, random_state = 5)


X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.4, random_state=2)

print(X_train.shape)
print(X_test.shape)
print(y_test.shape)
print(y_train.shape)

(128, 9)
(86, 9)
(86,)
(128,)

Scikit-learn is used to divide the test and train data. To divide that we will need to import the train_test_split function from the model_selection module of scikit_learn library.The test size is given as 40 percent of the data. The random state is given as 2.

In [290]:
NB = GaussianNB()
NB.fit(X_train,y_train)
y_pred = NB.predict(X_test)
print("accuracy =",accuracy_score(y_test,y_pred)*100)
print(classification_report(y_test,y_pred))

accuracy = 56.97674418604651
              precision    recall  f1-score   support

           1       0.70      0.47      0.56        30
           2       0.56      0.69      0.62        26
           3       0.23      0.43      0.30         7
           5       0.00      0.00      0.00         3
           6       0.75      0.86      0.80         7
           7       1.00      0.62      0.76        13

    accuracy                           0.57        86
   macro avg       0.54      0.51      0.51        86
weighted avg       0.65      0.57      0.59        86

Imported classification report from metrics of the sklearn library and found the accuracy of the model. The Accuracy I got for this model is 56.97 with test size(40) and random state(2).